nav {
    font-size: 1rem;
    font-weight: 300;
    a {
        color: $navigation;
    }
}

#nav_start:hover{
    color: $navigation;
    background-color: $social;
}
#nav_o_nas:hover{
    color: $navigation;
    background-color: $o-nas;
}
#nav_menu:hover{
    color: $navigation;
    background-color: $menu;
}
#nav_oferta:hover{
    color: $navigation;
    background-color: $oferta;
}
#nav_kontakt:hover{
    color: $navigation;
    background-color: $social;
}

div.jumbotron {
    text-align: center;
    border-radius: 0;
    background: url('../img/slider.jpg') center/cover no-repeat;
    color: $text-jumbotron;
    margin-bottom: 0rem;
    
    h1 {
        font-family: 'Lobster', cursive;
    }
    
    p.lead {
        font-weight: 400;
        font-size: 1.6rem;
    }
    p {
        font-size: 1rem;
        margin: 1.2rem auto;
        width: 55%;
    }
}